html,
body {
    height: 100%;
    margin: 0;
}

body {
    /* background-color: rgb(189, 255, 182); */
    /* spring */
    /* background: url('../img/cherry.png') no-repeat center center fixed; */
    /* winter */
    /* background: url('../img/snowman.png') no-repeat center center fixed; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

/* Hide the input by default */
.hidden-field {
  display: none;
  margin-top: 10px;
}

/* When the checkbox is checked, show the div immediately following it */
#toggle-pause:checked ~ #pause-container {
  display: block;
}

/* Base styles for the background */
.random-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.bg-1 { background-image: url('../img/cat1.jpeg'); }
.bg-2 { background-image: url('../img/cat2.jpeg'); }
.bg-3 { background-image: url('../img/cat3.jpeg'); }
.bg-4 { background-image: url('../img/cat4.jpeg'); }

div {
    align-content: center;
    width: 400px;
    height: 100px;
}

input {
    margin: 10px;
    padding: 6px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}


#snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}