#container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
}

.part {
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

body {
  margin: 0;
  padding: 0;
}