#pint {
    display: none;
}

#container {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  height: 100vh;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  #container {
      /* mobile viewport bug fix */
      height: -webkit-fill-available;
  }
}

.container {
  display: flex;
  align-items: center;
}

.button-container {
  margin-left: 10px;
  margin-right: 10px;
}

.button-container button {
  margin-left: 5px;
}